label {
    color: #435960;
    font-weight: bold;
}

input {
    font-size: 1em;
    padding: .5em;
}

button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1em;
    border-radius: 4px;
    font-size: 1rem;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    border-color: #eee;
    color: #ccc;
    cursor: auto;
}